@import "tailwindcss";

:root {
  --color-dark: #191919;
  --color-cream: #f5f5f5;
  --color-orange: #fb8f2a;
  --color-gold: #d1c64d;
}

@theme inline {
  --color-dark: var(--color-dark);
  --color-cream: var(--color-cream);
  --color-orange: var(--color-orange);
  --color-gold: var(--color-gold);
  --font-sans: var(--font-rubik);
}

body {
  background: var(--color-cream);
  color: var(--color-dark);
}
